<h3>Mettre à jour les informations du travailleur</h3>

<%= render 'form' %>

<%= link_to 'Prestations du travailleur', @employee, class: "btn btn-default btn-md text-center" %> |
<%= link_to 'Retour à la liste', employees_path, class: "btn btn-default btn-md text-center" %>
